# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Osetljivi podaci
backend/src/main/resources/application.properties

# IDE
.idea/
*.iml

# Arhive
*.zip
